version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: smarthotel_postgres
    restart: always
    environment:
      POSTGRES_DB: smarthotel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: smarthotel_backend
    restart: always
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - chroma

  bot:
    build: ./bot
    container_name: smarthotel_bot
    restart: always
    volumes:
      - ./bot:/app
    depends_on:
      - backend
      - chroma

  chroma:
    image: chromadb/chroma
    container_name: smarthotel_chromadb
    restart: always
    volumes:
      - chroma_data:/chroma
    ports:
      - "8001:8001"

volumes:
  postgres_data:
  chroma_data:
